<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/welcome">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content class="ion-padding ion-text-center">
  <div class="logo">
    <img src="../../assets/em.png"/>
  </div>

        <div class="form-container">
        <form [formGroup]="loginform" (ngSubmit)="doLogin()" novalidate>
        
          <ion-item lines='none'>
          <ion-input placeholder="Email" type="text" [formControl]="loginform.controls['useremail']" required></ion-input>
          <div *ngIf="loginform.controls['useremail'].dirty && !loginform.controls['useremail'].valid">
            <p *ngIf="loginform.controls['useremail'].errors.InvalidEmail">Invalid</p>
          </div>
        </ion-item>
        
        <ion-item lines='none'>  
          <ion-input placeholder="Password" type="password" [formControl]="loginform.controls['userpass']" required></ion-input>
        </ion-item>
        <ion-button type="submit"
                color="primary"
                expand="block" 
                class="ion-activatable ripple-parent"
                [disabled]="!loginform.valid">
          LOGIN
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </ion-button>
        
        <ion-button type="submit" color="primary" expand="block" routerLink="/signup">Sign Up</ion-button>
        
        <div class="seller">
        <p>If you are a seller please login with google.</p>
        <ion-button color="primary" (click)="firebaseAuthService.googleLogin()" routerLink="/home">Google Login</ion-button>
        </div>
      </form>
      
   
    </div>
</ion-content>
