
.ripple-parent {
    position: relative;
    overflow: hidden;
}

.form-container {
    margin-top: 10px;
}

.form-container ion-item {
    --padding-start: 0;
    --border-color: #000000;
}

ion-content{


 #header{
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .logo{
     
     img{
         height: 200px;
     }
 }

 .form{
     ion-item{
         border-radius: 5px;
         border-color: grey;
         border-width: 2px;
         border-style: solid;
     }
 }
 ion-button{
     text-transform: none;
 }
}
