<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" routerLink="/welcome">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="logo">
    <img src="../../assets/em.png"/>
  </div>


  
  <div class="form-container">
      
        <form [formGroup]="signupform" (ngSubmit)="doSignup()" novalidate>
        <ion-item lines='none'>
          
          <ion-input placeholder="Email" type="text" [formControl]="signupform.controls['useremail']" required></ion-input>
          <div *ngIf="signupform.controls['useremail'].dirty && !signupform.controls['useremail'].valid">
            <p *ngIf="signupform.controls['useremail'].errors.InvalidEmail">Invalid</p>
          </div>
        </ion-item>
        <ion-item lines='none'>
          
          <ion-input placeholder="Password" type="password" [formControl]="signupform.controls['userpass']" required></ion-input>
          <div *ngIf="signupform.controls['userpass'].dirty && !signupform.controls['userpass'].valid">
            <p *ngIf="signupform.controls['userpass'].errors?.minlength">6 Characters</p>
          </div>
        </ion-item>
        <ion-button
                type="submit"
                color="primary"
                expand="block" 
                class="ion-activatable ripple-parent"
                [disabled]="!signupform.valid">
          REGISTER
          <ion-ripple-effect type="unbounded"></ion-ripple-effect>
        </ion-button>
      </form>
      
    </div>

</ion-content>

