<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="container">
    <div class="page-header">
      <h3></h3>
    </div>

    <img src="../../assets/em.png" />

    <div class="button-container">
      <p>ARE YOU A BUYER OR A SELLER?</p>
      <ion-button expand="block" class="main-button" routerLink="/signup">Buyer</ion-button>
      <ion-button expand="block" color="dark" fill="clear" routerLink="/login" >Seller</ion-button>
    </div>
  </div>


</ion-content>
